<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="com.example.xphr.configuration">
    <Properties>
        <Property name="LOG_PATTERN_INFO">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%tid] [%p] %m%n</Property>
        <Property name="LOG_PATTERN_ERROR">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%tid] [%p] %m%n</Property>
        <Property name="LOG_PATTERN_WARN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%tid] [%p] %m%n</Property>
        <Property name="LOG_PATTERN_DEBUG">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%tid] [%p] %m%n</Property>
        <Property name="logSystemPath">/app/log</Property>
    </Properties>
    <Appenders>
        <Console name="system_console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_INFO}"/>
            <PatternLayout pattern="${LOG_PATTERN_ERROR}"/>
            <PatternLayout pattern="${LOG_PATTERN_WARN}"/>
            <PatternLayout pattern="${LOG_PATTERN_DEBUG}"/>
        </Console>

        <RollingFile name="system_error"
                     fileName="${logSystemPath}/today/xphr.log"
                     filePattern="${logSystemPath}/%d{yyyyMMdd}/xphr.log">
            <PatternLayout pattern="${LOG_PATTERN_ERROR}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="system_warn"
                     fileName="${logSystemPath}/today/xphr.log"
                     filePattern="${logSystemPath}/%d{yyyyMMdd}/xphr.log">
            <PatternLayout pattern="${LOG_PATTERN_WARN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="system_info"
                     fileName="${logSystemPath}/today/xphr.log"
                     filePattern="${logSystemPath}/%d{yyyyMMdd}/xphr.log">
            <PatternLayout pattern="${LOG_PATTERN_INFO}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="system_debug"
                     fileName="${logSystemPath}/today/xphr.log"
                     filePattern="${logSystemPath}/%d{yyyyMMdd}/xphr.log">
            <PatternLayout pattern="${LOG_PATTERN_DEBUG}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="1"/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.api.douga" additivity="false" level="TRACE">
            <AppenderRef ref="system_console"/>
            <AppenderRef ref="system_debug"/>
            <AppenderRef ref="system_info"/>
            <AppenderRef ref="system_warn"/>
            <AppenderRef ref="system_error"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="system_console"/>
        </Root>
    </Loggers>
</Configuration>
